/* GENERAL START */
*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::selection {
    background: rgba(246,179,116,0.8);
    color: #ffffef;
}


html, body{
    height: 100%;
    
}

body {
    --main-orange:  #e86538;
    --main-orange-faded: rgba(232, 101, 56, 0.6);
    --main-white: #ffffef;
    --main-white-faded: rgba(255, 255, 239, 0.6);
}
body .container {
    padding: 25px;
    max-width: 100%;
    margin: 0 auto;   
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

p{
    font-family: 'Lato', sans-serif;
}

.white-theme {
    padding: 5% 5% 5% 5%;
    color: var(--main-orange);
    position: relative;
    background-color: white;
}

.white-theme hr {
     width: 10%;
    border-width: thick;
    border-color: var(--main-orange-faded);
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
}

.white-theme h1 {
    text-align: center;
    font-size: 35px;
    
}
.white-theme .fa, .white-theme .far, .white-theme .fab, .white-theme .fas {
    color: var(--main-orange-faded);
}

.white-theme .pre-text {
    padding: 2% 10% 2% 10%;
    font-family: 'Lato', sans-serif;
    color: rgba(232, 101, 56, 0.8);
    font-size: 16px;
    text-align: center;
}

.orange-theme {
    padding: 5% 15% 5% 15%;
    color: var(--main-white);
    position: relative;
    background-color: var(--main-orange);
}

.orange-theme h1 {
    text-align:center;
    font-size: 35px;
}

.orange-theme hr {
    width: 10%;
    border-width: thick;
    border-color: var(--main-white-faded);
    text-align: center;
    margin: 0 auto;
    padding-bottom: 40px;
    
}

.orange-theme .fa, .orange-theme .far, .orange-theme .fab, .orange-theme .fas {
    color: var(--main-white-faded);
}

.orange-theme .pre-text {
    font-family: 'Lato', sans-serif;
    color: rgba(255, 255, 239, 0.8);
    font-size: 16px;
    text-align: center;
}

/* GENERAL END */

/* HEADER START*/
.intro {
    background: url(../img/Geo_pattern_with_me.jpg) no-repeat center top fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
    width: 100%; 
}

.intro .site-info {
    position: fixed;
    bottom: 2%;
    right: 25%;
    left: 25%;
    text-align: center;
    color: var(--main-white);  
}

.site-info .name{
    font-weight: 600;
}

.site-info .tag-line{
    margin-top: 1%;
}

.site-info .fa-angle-down {
    margin-top: 3%;
    font-size: 40px;
    animation: bounce 2s infinite;
    color: white;
}

.navbar {
  padding-right: 1rem !important;
  font-weight: 600; 
}

.navbar .navbar-toggler {
    outline: 0;
    border-width: 0; }

.scrolling-navbar {
    background-color: rgba(246,179,116,0.8);  
}
.top-nav-collapse {
    background-color: rgba(246,179,116,0.8); 
}
.navbar:not(.top-nav-collapse) {
    background: transparent !important; 
}

/* HEADER END */

/* MAIN START */
/* PROFILE START */

.profile .fun-facts {
    padding: 0% 21% 0% 21%;
}
.fun-facts .col-md-6 {
    padding: 1.5%;  
}

.facts-text {
    position: absolute;
    padding: 15%;
    color: var(--main-white);
    display: inline-block;
}
.facts-text .far, .facts-text .fa {
    color: var(--main-white-faded);
}

.life {
    background-size: cover;
    background: url(../img/Square2.jpg) no-repeat center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.life:hover {
    background: hsla(0, 0%, 100%, 0.20) url(../img/Square2.jpg);
    background-blend-mode: overlay;
    transition: all 0.5s ease-in-out;
}


.enthusiast {
    background-size: cover;
    background: url(../img/Square3.jpg) no-repeat center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.enthusiast:hover {
    background: hsla(0, 0%, 100%, 0.20) url(../img/Square3.jpg);
    background-blend-mode: overlay;
    transition: all 0.5s ease-in-out;
}

.thinking {
    background-size: cover;
    background: url(../img/Square4.jpg) no-repeat center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.thinking:hover {
    background: hsla(0, 0%, 100%, 0.20) url(../img/Square4.jpg);
    background-blend-mode: overlay;
    transition: all 0.5s ease-in-out;
}

.superpower {
    background-size: cover;
    background: url(../img/Square1.jpg) no-repeat center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.superpower:hover {
    background: hsla(0, 0%, 100%, 0.20) url(../img/Square1.jpg);
    background-blend-mode: overlay;
    transition: all 0.5s ease-in-out;
}

.fun-facts li  {
    list-style-type: circle;
    
}

.fun-facts ul {
    padding-left: 5%;
}

/* PROFILE END */
/* EXPERIENCE START */

.experience .box-wrap {
    padding: 0 2% 0 2%;
}
.experience .box {
    border: 1px solid;
    border-color: var(--main-white);
    border-radius: 5px;
    padding: 2% 8% 1% 6%;
    margin-top: 30px;
}

.experience .box:hover {
    background: rgba(255,255,255,0.13);
    transition: all 0.5s ease-in-out;
}

.experience .box h4, .experience .box i {
    display: inline;
}

.experience .box i {
    margin-left: 1%;
    font-size: 15px;
}

.experience .small {
    font-size: 14px;
    color: var(--main-white-faded);    
}

.box p {
    margin-top: 10px;
    font-size: 18px;
    color: var(--main-white-faded);
}

.experience ul {
    padding-left: 25px;
    font-size: 16px;
    color: var(--main-white-faded); 
}
/*EXPERIENCE END*/
/*EDUCATION START*/
.wrap {
    padding: 0 12% 0 12%;
}
.education .small {
    font-size: 12px;
    color: var(--main-orange-faded);    
}
/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 3px;
    background-color: var(--main-orange-faded);
    top: 0;
    bottom: 0;
    left: 50%;
}

/* Container around content */
.timeline-container {
    position: relative;
    width: 50%;
}

/* The circles on the timeline */
.timeline-container::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    right: -9px;
    background-color: white;
    border: 2px solid var(--main-orange) ;
    top: 20px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
    text-align: right;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -6px;
}

.content {
    padding: 15px 30px;
    position: relative;
}

@media screen and (max-width: 600px) {
.wrap {
    padding: 0 5% 0 5%;
}  
 /* Place the timelime to the left */
.timeline::after {
    left: 5%;
  }
  
   /* Full-width containers */
  .timeline-container {
    width: 100%;
    padding-left: 5%;
      text-align: left;
    
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 16px;
  }
  
  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

@media screen and (max-width: 400px) {
    .left::after, .right::after {
    left: 9px;
  }
}


/*EDUCATION ENDS*/
/*SKILLSET STARTS*/

.skillset .row {
    margin-bottom: 5%;
}
.skillset .container{
    width: 100%;
    background-color: rgba(255, 255, 239, 0.7); 
    padding: 0;
}

.skills {
  text-align: right;
  padding-right: 1%;
  line-height: 15px;
  font-size: 0.8vw;
  color: transparent;
  background-color: var(--main-white);
}

.skills:hover{
    color: #e86538;
    transition: all 1s;
}

.pm {
    width: 60%;
}

.pmtool {
    width: 50%;
}

.startups {
    width: 85%;
}
.htmlcss {
    width: 35%;
}

.teamplayer {
    width: 95%;
}

.problemsolving {
    width: 90%;
}

.printing {
    width: 45%;
}

.modelling {
    width: 10%;
}

.learning {
    width: 100%;
}

/*SKILLSET ENDS*/
/*PROJECTS STARTS*/

.projects-listed .col-md-6 {
    padding: 1%;
    
}

.project-text {
    position: absolute;
    padding: 10%;
    text-align: center;
    text-decoration: none;
    color: var(--main-white);
    display: inline-block;
}

.sbs {
    background-image: linear-gradient(
      rgba(232, 101, 56, 0.9),
      rgba(255, 255, 255, 0.7)
    ), url(/img/sbs.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.sbs:hover {
    background-image: url(/img/sbs.PNG);
    color: transparent;
    transition: all 0.5s;
}


.tribute {
    background-image: linear-gradient(
      rgba(232, 101, 56, 0.9),
      rgba(255, 255, 255, 0.7)
    ), url(/img/Tribute-Page.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.tribute:hover {
    background-image: url(/img/Tribute-Page.PNG);
    color: transparent;
    transition: all 0.5s;
}

.personal {
    background-image: linear-gradient(
      rgba(232, 101, 56, 0.95),
      rgba(255, 255, 255, 0.7)
    ), url(/img/website.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.personal:hover {
    background-image: url(/img/website.PNG);
    color: transparent;
    transition: all 0.5s;
}

.future {
    background-image: linear-gradient(
      rgba(232, 101, 56, 0.7),
      rgba(255, 255, 255, 0.7)
    ), url(/img/future-me.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.future:hover {
    background-image: url(/img/future-me.JPG);
    color: transparent;
    transition: all 0.5s;
}
/*PROJECTS ENDS*/
/*CONTACT STARTS*/

.contact {
    padding: 5% 0% 2% 0%;
}

.contact h1 {
    text-align:center;
}

.contact .footer-line {
    width: 100%;
    border-width:thin;
    border-color: var(--main-white-faded);
    text-align: center;
}

.contact h4 {
    margin-top: 0;
    margin-bottom: 2%;
    text-align: center;
}

.icons {
    padding-right: 35%;
    padding-left: 35%;
}
.contact .col-md-4{
    text-align: center;
    display: inline-block;
    font-size: 40px;
}

.contact p {
    margin-top: 4%;
    text-align: center;
    font-size: 18px;
    color: var(--main-white);
}

.contact .resume {
    text-align: center;
}

.contact button {
    color: var(--main-orange);
    font-family: 'Raleway', sans-serif;
    background-color: var(--main-white-faded);
}
.btn .far {
    color: var(--main-orange-faded);
}

.footer-line {
    border-color: var(--main-white-faded);
}

.footer  p{
    margin-top: 0;
    font-size: 14px;
}

.footer {
    margin-top: 4%;
    
}
/* CONTACT ENDS*/

/*GENERAL ADJUSTMENTS FOR PHONE*/
@media (max-width: 780px) {
    .white-theme {
        padding: 3%;
    }
    .white-theme .pre-text {
        padding: 2%;
    }
    .orange-theme {
        padding: 7%;
    }
    .orange-theme .pre-text {
        padding: 2%;
    }
    .intro .site-info {
    position: fixed;
    bottom: 2%;
    right: 5%;
    left: 5%; 
    }

    .site-info .fa-angle-down {
    margin-top: 10%;
    }
    
    .experience .box-wrap {
    padding: 0;
    }
    .profile .fun-facts {
    padding: 0% 5% 0% 5%;
    }
    .projects-listed .col-md-6 {
    padding: 2%;
    }
  .skills {
    color: transparent;
    }
}

@media (max-width: 550px) {
    .margins {
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .intro .site-info h1{
        font-size:30px;
    }
    .intro .site-info h4{
        font-size:18px;
    }
    .intro .site-info {
    position: absolute;
        bottom: 5%;
    }
}

@media (min-width: 600px) {
    .navbar.scrolling-navbar {
      -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
      transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
      padding-top: 5px;
      padding-bottom: 5px; }
      .navbar.scrolling-navbar .navbar-nav > li {
        -webkit-transition-duration: 1s;
        transition-duration: 1s; }
      .navbar.scrolling-navbar.top-nav-collapse {
        padding-top: 0px;
        padding-bottom: 0px;
    } 
}

@media (max-width: 650px) {
    .navbar:not(.top-nav-collapse) {
        background: transparent !important;
    }    
    
}


@media (max-width: 740px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
        height: 1040px; 
    } 
}      
  
